*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.newsDetail {
    padding: 20px;
  }
  
  .newsDetail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .newsDetail-content img {
    max-width: 100%;
  }
  
  .newsDetail-content .subtitle1 {
    margin-bottom: 10px;
  }
  
  .newsDetail-content .subtitle1:last-child {
    margin-bottom: 0;
  }
  
  .newsDetail-content .subtitle1 svg {
    margin-right: 5px;
  }
  